@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
  box-sizing: border-box;
}
html {
  font: 120% 'Poppins', sans-serif;
  color: #080909;
}
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  width: 100%;
  background: #eeebe2;
  display: flex;
  justify-content: center;
}
h1, h2 {
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 60%;
}
.line {
  height: 0.1rem;
  background: grey;
  margin: 1rem 0;
}
.title {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  user-select: none;
}
.meme {
  cursor: pointer;
  user-select: none;
}
.meme__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  height: 2rem;
  cursor: pointer;
  color: #7fa480;
}
.meme__title:active {
  text-decoration: underline;
}
.title:active {
  text-decoration: underline;
}
.meme__button:active {
  color: red;
}
.meme__img:active {
  outline: 0.1rem solid black;
}
.meme__button {
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  text-align: center;
  transition: transform 0.2s linear;
  user-select: none;
  display: none;
}
.meme__checkbox {
  appearance: none;
  display: none;
}
.meme__bottom {
  display: flex;
  justify-content: center;
  height: 0;
  transition: height 0.3s ease-in; 
  cursor: pointer;
}
.meme__img {
  width: 60%;
}
.meme__checkbox:checked ~ .meme__top {
  color: #080909;
}
.meme__checkbox:checked + .meme__top > .meme__button {
  transform: rotate(45deg);
}
.meme__checkbox:checked ~ .meme__bottom {
  height: 20rem;
}
@media not all and (hover: none) {
  .meme:hover > .meme__bottom {
    height: 20rem;
  }
  .meme:hover .meme__button {
    transform: rotate(45deg);
  }
  .accordion:hover .meme__button {
    display: block;
  }
  .accordion:hover .meme__top {
    color: #080909;
  }
}
/* ============= Tablet ============ */

@media screen and (max-width: 1200px) {
  html {
    font-size: 80%;
  }
  .meme__checkbox:checked ~ .meme__bottom {
    height: 18rem;
  }
}

/* ============= Mobile ============ */

@media screen and (max-width: 600px) {
  html {
    font-size: 60%;
  }
  .meme__checkbox:checked ~ .meme__bottom {
    height: 10rem;
  }
}
