@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
  box-sizing: border-box;
}
html {
  font: 16px 'Poppins', sans-serif;
  color: #080909;
}
.line {
  height: 1px;
  background: grey;
  margin: 20px 0;
}
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background: #eeebe2;
  display: flex;
  justify-content: center;
}
h1, h2 {
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 1000px;
}
.title {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  user-select: none;
}
.accordion {
}
.meme {
  cursor: pointer;
  user-select: none;
}
.meme__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  height: 40px;
  cursor: pointer;
  color: #7fa480;
}
.meme__title:active {
  text-decoration: underline;
}
.title:active {
  text-decoration: underline;
}
.meme__button:active {
  color: red;
}
.meme__img:active {
  outline: 1px solid black;
}
.meme__button {
  width: 40px;
  height: 40px;
  font-size: 2rem;
  text-align: center;
  transition: transform 0.2s linear;
  user-select: none;
  display: none;
}
.meme__checkbox {
  appearance: none;
  display: none;
}
.meme__bottom {
  display: flex;
  justify-content: center;
  height: 0;
  transition: height 0.3s ease-in; 
  cursor: pointer;
}
.meme__img {
  width: 60%;
}
.meme:hover > .meme__bottom {
  height: 400px;
}
.meme:hover .meme__button {
  transform: rotate(45deg);
}
.accordion:hover .meme__button {
  display: block;
}
.accordion:hover .meme__top {
  color: #080909;
}
.meme__checkbox:checked ~ .meme__top {
  color: #080909;
}
.meme__checkbox:checked + .meme__top > .meme__button {
  transform: rotate(45deg);
}
.meme__checkbox:checked ~ .meme__bottom {
  height: 400px;
}
@media not all and (hover: none) {

}
/* ============= Tablet ============ */

@media screen and (max-width: 1200px) {
  html {
    font-size: 12px;
  }
  .wrapper {
    width: 580px;
  }
  .meme__checkbox:checked ~ .meme__bottom {
    height: 260px;
  }
}

/* ============= Mobile ============ */

@media screen and (max-width: 600px) {
  html {
    font-size: 8px;
  }
  .wrapper {
    width: 280px;
  }
  .meme__checkbox:checked ~ .meme__bottom {
    height: 120px;
  }
}

